.desktop-menu-container {
    position: fixed;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.desktop-menu-container ul {
    background: #d8e6dc;
    padding: 1em;
    margin-left: 24px;
    list-style: none;
    border: 1px solid #adb8b0;
}

.desktop-menu-container ul li {
    margin: 8px 0;
}

.desktop-menu-container ul li a{
    color: #161716;
}

.navbar-button-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger-button-line-top {
    position: absolute;
    height: 3px;
    background: #000;
    transition: 0.25s;
    width: 100%;
}

.burger-button-line-bottom {
    position: absolute;
    height: 3px;
    background: #000;
    transition: 0.25s;
    width: 80%;
    margin-top: 12px;
}

.display-close-navbar-icon-line-top {
    transform: translate(0) rotate(45deg);
}

.display-close-navbar-icon-line-bottom {
    transform: translate(0) rotate(-45deg);
    margin: 0 !important;
    width: 100% !important;
}

.mobile-navbar-menu {
    display: none;
    width: 100%;
    background: #fff;
    height: 100%; 
    position: fixed;
    top: 100px;
    z-index: 9999;
}

.show-navbar-menu {
    display: block;
}

.navbar-container {
    position: fixed;
    padding: 0 16px;
    background:rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 32px);
    border-bottom: 1px solid #d8e6dc;
    z-index: 9999;
}

.navbar-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-cta {
    background: #97a19a;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.hero {
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/3604a3d6-f345-4ce3-8efd-bb41919601ba.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.hero-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-headers {
    color: #c2cfc6;
}

.hero-headers h1,
.hero-headers h2 {
    margin: 0;
}

.hero-headers h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 48px;
}

.hero-headers h2 {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-cta-container {
    margin-top: 24px;
}

.hero-cta {
    background: #000;
    color: #97a19a;
    padding: 10px;
    text-align: center;
}

.history {
    background-image: url('../images/Picture1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 200px;
}

.history h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    position: relative;
}

.history-content-container {
    position: relative;
}

.history-paragraphs {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 16px;
} 

.history-image {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: -50px;
}

.history-image img {
    width: 200px;
}


.wineries {
    padding: 32px 200px;
    background: #d8e6dc;
}

.wineries-content-container {
    position: relative;

}

.wineries-content-container h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    position: relative;
    margin: 0;
    text-align: center;
}

.wineries-cards-container {

    padding: 32px 0;
} 

.wineries-image {
    position: absolute;
    bottom: 0;
    left: -15%;
}

.wineries-image img {
    width: 200px;
}

.active-card {
    display: block !important;
}

.card {
    display: none;
    /*min-height: 750px;*/
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #c2cfc6;
    border-radius: 4px;
}

.card img {
    width: auto;
    margin: 0 auto;
    display: block;
    padding: 32px 0 16px 0;
    height: 100px;
}

.card-text {
    padding: 16px 64px;
}

.card-text h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 0 16px 0;
    text-align: center;
}

.card-text p {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}

.card-text h4 {
    margin: 0 0 8px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
}

.card-insta-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-insta-icon {
    font-size: 28px;
    color: #E1306C;
}

.instagram {
    padding: 32px 200px;
    background: #fff;
}

.instagram-profile-header {
    display: flex;
}

.instagram-profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.instagram-profile-picture-container {
    background-image: url('../images/243497510_581005893322427_8384895327766333694_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    border: 1px solid #000;
}

.instagram-profile-info {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instagram-profile-info p,
.instagram-profile-info h4 {
    margin: 0;
}

.instagram-profile-info h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 4px;
}

.instagram-profile-info h4 a {
    text-decoration: none;
    color: #000;
}

.instagram-profile-info span, 
.instagram-profile-info p {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.instagram-content-container h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
}

.instagram-content-container h3 {
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.instagram-posts-container {
    column-count: 3;
    gap: 10px;
    padding: 16px 0;

}

.instagram-posts-container img {
    margin: 0 auto;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.instagram-cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.instagram-cta {
    background: #97a19a;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.contact {
    background: #d8e6dc;
}

.contact-content-container {
    display: flex;
    flex-direction: row;
}

.contact-image {
    background: url('../images/contacto-image.jpeg');
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-image-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-form-container {
    min-height: 400px;
    padding: 32px 5%;
    width: calc(50% - 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-container h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto 12px auto;
}

.form-input-container label {
    margin-bottom: 4px;
    text-align: left;
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.form-input-container input {
    padding: 4px;
}

.form-input-container textarea {
    resize: none;
}

.form-input-container button {
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    background: #97a19a;
    color: #fff;
    border: 0;
    font-size: 16px;
}

.footer {
    padding: 32px 200px;
    background: #2b2e2c;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content-info-container {
    text-align: center;
    padding: 0 16px;
}

.footer-content-info-container h4 {
    margin: 0 0 8px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    color: #c2cfc6;
}

.footer-content-info-container p {
    margin: 0 0 4px 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #d8e6dc;
}

.footer-content-info-container a {
    color: #d8e6dc;
    text-decoration: none;
}

.footer-content-insta-icon-container { 
    font-size: 24px;
}

.footer-content-insta-icon a {
    color: #d8e6dc;  
}

.whatsapp-button-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99999999;
}

.whatsapp-button-container img {
    width: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 29px 3px rgba(0,0,0,0.75);
    background: #fff;
    border: 0;
}

@media screen and (max-width: 1224px) {
    .wineries-cards-container {
        column-count: 1;
        gap: 0;
    }

    .wineries-image {
        position: absolute;
        bottom: -15px;
        left: -25%; 
    }

    .card {
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .hero {
        height: 50vh;
    }

    .history {
        padding: 32px;
    }

    .history-image {
        position: absolute;
        bottom: -5%;
        z-index: 0;
        right: -32px;
        margin: 0;
    }

    .history-image img {
        width: 200px;
    }
    
    .history h2 {
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.2);
    }
    
    .history-content-container {
        position: relative;
    }
    
    .history-paragraphs {
        font-family: "Gothic A1", sans-serif;
        font-weight: 300;
        font-size: 16px;
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.2);
    } 

    .wineries {
        padding: 32px;
    }

    .wineries-image {
        position: absolute;
        bottom: -15px;
        left: 0;
    }
    
    .wineries-image img {
        width: 150px;
    }

    .card img {
        padding: 32px 0 8px 0;
    }

    .card-text {
        padding: 8px 32px 32px 32px;
        text-align: center;
    }

    .instagram {
        padding: 32px;
    }
    
    .instagram-posts-container {
        gap: 2px;
    }

    .instagram-posts-container img {
        margin-bottom: 2px;
    }

    .contact-content-container {
        flex-direction: column;
    }

    .contact-image {
        order: 2;
        height: 400px;
        width: 100%;
    }

    .contact-form-container {
        width: calc(100% - 10%);
    }

    .footer {
        padding: 32px;
    }

    .footer-content-container {
        flex-direction: column;
    }

    .footer-content-info-container {
        margin-bottom: 12px;
    }

    .footer-content-info-container h4 {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .footer-content-info-container p {
        font-size: 12px;
    }

    .footer-content-info-container:last-child {
        margin: 0;
    }

}